<rule>
  <name>EligibilityRule</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>100000.0</value>
            <operator>&gt;</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>amount</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>isEligible</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Person</factType>
      <boundName>person</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>1.0</value>
            <operator>&lt;</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>time</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>true</value>
            <operator>==</operator>
            <constraintValueType>1</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>isEligible</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Person</factType>
      <boundName>person1</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>isEligible</field>
          <value>false</value>
          <nature>1</nature>
          <type>Boolean</type>
        </fieldValue>
      </fieldValues>
      <variable>person</variable>
    </setField>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>isEligible</field>
          <value>false</value>
          <nature>1</nature>
          <type>Boolean</type>
        </fieldValue>
      </fieldValues>
      <variable>person1</variable>
    </setField>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>process.business_process_poc</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list/>
    </entry>
  </table>
  <idCol>0</idCol>
  <rowsCount>0</rowsCount>
</rule>