<rule>
  <name>RuleForDefiningRates</name>
  <modelVersion>1.0</modelVersion>
  <attributes>
    <attribute>
      <attributeName>dialect</attributeName>
      <value>mvel</value>
    </attribute>
    <attribute>
      <attributeName>ruleflow-group</attributeName>
      <value>definingRates</value>
    </attribute>
    <attribute>
      <attributeName>no-loop</attributeName>
      <value>true</value>
    </attribute>
  </attributes>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$lAge</value>
            <operator>&lt;</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>age</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$hAge</value>
            <operator>&gt;=</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>age</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$lTime</value>
            <operator>&lt;</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>time</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$hTime</value>
            <operator>&gt;=</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Person</factType>
            <fieldName>time</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Person</factType>
      <boundName>person</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <setField>
      <fieldValues>
        <fieldValue>
          <field>rate</field>
          <value>$rate</value>
          <nature>7</nature>
          <type>Double</type>
        </fieldValue>
      </fieldValues>
      <variable>person</variable>
    </setField>
  </rhs>
  <imports>
    <imports/>
  </imports>
  <packageName>process.business_process_poc</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$hAge</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>$rate</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
        <string>2</string>
      </list>
    </entry>
    <entry>
      <string>$lAge</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>$lTime</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
    <entry>
      <string>$hTime</string>
      <list>
        <string></string>
        <string></string>
      </list>
    </entry>
  </table>
  <idCol>2</idCol>
  <rowsCount>2</rowsCount>
</rule>